<nav class="navbar navbar-expand-lg navbar-dark bg-success">

```
<div class="container">

    <a class="navbar-brand fw-bold" href="/home/">
        🌾 FarmerP
    </a>

    <div>

        <a href="/attendance/"
           class="btn btn-light btn-sm me-2">
            📅 Attendance
        </a>

        <a href="/labour/add/"
           class="btn btn-light btn-sm me-2">
            👷 Farm Sahayogi
        </a>

        <a href="/attendance-report/"
           class="btn btn-light btn-sm">
            📊 Report
        </a>

    </div>

</div>
```

</nav>
